body {
  color: green;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #20d66b;
}

.navbar a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  background-color: #cccccc;
}
